@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	html, body { overflow: hidden; }
}
body { padding-top:30px; }
/* 	this enables custom angular ui-bootsrtap cursors to work without empty hrefs
	http://angular-ui.github.io/bootstrap/#/getting_started */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


/*-------------------------------
	Page List
-------------------------------*/
.list {
	text-align: left;
}

.list-item {
	overflow: hidden;
	position: relative;

	margin: 8px 0px;
	padding: 20px 20px;
	box-sizing: border-box;

	background-color: #fff;
	border-radius: 2px;
}

.list-item h2 {
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 8px;
}

.list-item p {
	font-size: 14px;
	margin: 0px;
	color: #666;
}

.list-item-details {
	position: fixed;
	width: 70%;
	height: 50%;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	padding: 20px;
	border-radius: 5px;
	z-index: 100;

	background-color: #fff;
	border-style: solid;
	border-color: #e1e1e1;
	border-width: 2px;
}


.list-item-description {
	font-size: 15px;
}



@media screen and (max-width: 768px) {
	.user-email {
		font-size: 18px;
	}
}
