<div class="jumbotron">
	<div class="row list" auto-page="getMore()">
		<div class="list-item" data-ng-repeat="item in listData">
			<h2 class="list-item-label">{{ item.label }}</h2>
			<button class="btn btn-sm btn-primary" data-ng-click="showDetails(item.id)">Details</button>
			<div class="list-item-details" data-ng-if="itemId == item.id" data-ng-click="hideDetails()">
				<h2 class="list-item-label">{{ item.label }}</h2>
				<hr>
				<p class="list-item-description">{{ item.description }}</p>
			</div>
		</div>
	</div>
</div>
